@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
:root {
  --main-radius: 3px;
  --main-padding: 10px;
  --btn-radius: 3px;
  --border-radius: 0.5rem;
  --clr-primary: #6558F5;
  --clr-primary-accent: #68BAA5;
  --clr-primary-error: #E60024;
  --clr-graymend: #e6e6e6;
  --clr-background: #F0F2F5;
  /*#F7F9FA;*/
  --clr-background-dark: #1E1F21;
  /*#F7F9FA;*/
  --clr-color-text-gray: #C3CFD9;
  --clr-margin-space: 0.6rem;
}

body {
  font-family: poppins, sans-serif;
  margin: 0;
  background: var(--clr-background);
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 0.3fr;
      grid-template-columns: 1fr 0.3fr;
  -ms-grid-rows: 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
      grid-template-areas: "nav nav"     "content sidebar";
  gap: var(--clr-margin-space);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  padding: var(--main-padding);
}

.nav h1 {
  margin: 0.5em 1em 0.5em auto;
  padding-left: 0.5em;
  margin-left: 0;
}

.nav img {
  width: 1.7rem;
  height: 1.7rem;
  padding-left: 0.5em;
}

.images {
  overflow-y: auto;
}

.images label {
  font-size: 0.9rem;
  margin: 0.5em 1em 0.5em auto;
  padding-left: 1.2em;
}

.images__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  clear: both;
}

.images__header .content-result {
  width: 90%;
}

.images__header .content-download {
  width: 10%;
  text-align: end;
}

.images__header .content-download .btn_dropdown {
  text-align: center;
  border-style: none;
  padding: 0.4rem 0 0.4rem;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  cursor: pointer;
}

.images__header .content-download .btn_dropdown:hover, .images__header .content-download .btn_dropdown :focus {
  background: var(--clr-graymend);
  opacity: 0.9;
}

.images__header .content-download .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.images__header .content-download .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.images__header .content-download a:hover {
  background-color: #ddd;
}

.images__header .content-download .show {
  display: block;
}

.images .image-empty {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  fill: #6558F5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--clr-color-text-gray);
}

.images .image-empty img {
  height: 70%;
  width: 70%;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  padding: var(--main-padding);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0.9rem;
  height: 100vh;
}

.content:empty {
  height: 0%;
}

.content .block {
  -webkit-box-shadow: 0px 5px 10px var(--clr-graymend);
          box-shadow: 0px 5px 10px var(--clr-graymend);
  border-radius: var(--border-radius);
  width: 172px;
  height: 172px;
  background: white;
  text-align: center;
  position: relative;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.content .block:hover label {
  display: block;
}

.content .block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}

.content .block label {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.7rem;
  width: auto;
  color: white;
  width: 172px;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}

.sidebar {
  background: white;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sidebar;
  padding: var(--main-padding);
  margin: var(--clr-margin-space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--main-radius);
}

.sidebar label {
  font-size: 1rem;
}

.sidebar textarea {
  height: 100%;
  border: 2px solid var(--clr-graymend);
  resize: none;
  outline: none;
  overflow: auto;
}

.sidebar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 5px;
}

.sidebar .buttons .button {
  width: 100%;
  background: var(--clr-primary);
  text-align: center;
  padding: 0.4rem 0 0.4rem;
  border-radius: var(--btn-radius);
  color: white;
  cursor: pointer;
}

.sidebar .buttons .button:hover {
  opacity: 0.9;
}

.sidebar .buttons .clean-button {
  width: 100%;
  border: 2px solid var(--clr-graymend);
  text-align: center;
  padding: 0.4rem 0 0.4rem;
  border-radius: var(--btn-radius);
  color: #1E1F21;
  cursor: pointer;
}

.sidebar .buttons .clean-button:hover {
  background: var(--clr-graymend);
  opacity: 0.9;
}

@media only screen and (max-width: 550px) {
  .nav {
    padding: 2px 5px 2px 5px;
  }
  .nav h1 {
    font-size: 1.1rem;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "nav nav"     "content content" "sidebar sidebar";
  }
  .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1rem;
  }
  .content .block {
    width: 104px;
    height: 104px;
    margin: 0 0.25rem 0.5rem;
  }
  .content .block img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--border-radius);
  }
  .images label {
    font-size: 0.6rem;
  }
  .sidebar {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */